In [ ]:
""" 

Code to explore the feasbility of merging MTA turnstile data with MTA station information file.
Determined through checks here this is not possible.

Searched for lookup file to make merge possible and found: 
https://qri.cloud/nyc-transit-data/remote_complex_lookup

After further examination in code cells below, determined would have to be interested in stations 
at the 'complex' level in order to join the turnstile data with the station information file. 
One complex is multiple stations. 

"""

In [1]:
import pandas as pd
import pickle

In [2]:
# 2018 turnstile RAW in pickle 'mta_2018'

with open('mta_2018', 'rb') as read_file:
    mta_2018_df = pickle.load(read_file)

In [3]:
mta_2018_df.head(2)

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2018,00:00:00,REGULAR,6616743,2242108
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/12/2018,04:00:00,REGULAR,6616762,2242113

In [4]:
# Unit is "Remote Unit for a station"
mta_2018_df['UNIT'].unique()

array(['R051', 'R079', 'R080', 'R081', 'R032', 'R022', 'R023', 'R082',
       'R083', 'R170', 'R085', 'R086', 'R462', 'R463', 'R087', 'R088',
       'R227', 'R001', 'R142', 'R311', 'R118', 'R044', 'R028', 'R125',
       'R171', 'R411', 'R412', 'R196', 'R148', 'R098', 'R262', 'R184',
       'R149', 'R263', 'R228', 'R229', 'R211', 'R150', 'R230', 'R136',
       'R172', 'R264', 'R108', 'R089', 'R099', 'R057', 'R231', 'R258',
       'R246', 'R278', 'R455', 'R197', 'R232', 'R233', 'R212', 'R213',
       'R214', 'R215', 'R216', 'R390', 'R391', 'R398', 'R392', 'R393',
       'R394', 'R395', 'R396', 'R397', 'R368', 'R369', 'R234', 'R247',
       'R370', 'R371', 'R372', 'R373', 'R374', 'R399', 'R400', 'R151',
       'R312', 'R175', 'R163', 'R330', 'R248', 'R235', 'R268', 'R249',
       'R250', 'R265', 'R294', 'R279', 'R236', 'R137', 'R266', 'R295',
       'R313', 'R348', 'R349', 'R350', 'R375', 'R376', 'R152', 'R535',
       'R536', 'R460', 'R352', 'R353', 'R377', 'R378', 'R379', 'R380',
       'R381', 'R432', 'R433', 'R434', 'R435', 'R436', 'R437', 'R003',
       'R004', 'R005', 'R006', 'R007', 'R008', 'R009', 'R401', 'R413',
       'R402', 'R403', 'R404', 'R100', 'R173', 'R185', 'R280', 'R174',
       'R126', 'R035', 'R331', 'R101', 'R332', 'R102', 'R333', 'R314',
       'R251', 'R186', 'R187', 'R084', 'R188', 'R010', 'R011', 'R012',
       'R013', 'R111', 'R138', 'R282', 'R139', 'R029', 'R014', 'R252',
       'R127', 'R217', 'R283', 'R284', 'R297', 'R198', 'R199', 'R153',
       'R438', 'R439', 'R103', 'R440', 'R441', 'R442', 'R200', 'R382',
       'R383', 'R384', 'R385', 'R354', 'R355', 'R356', 'R357', 'R464',
       'R414', 'R415', 'R416', 'R417', 'R418', 'R419', 'R335', 'R336',
       'R337', 'R338', 'R358', 'R285', 'R315', 'R195', 'R104', 'R443',
       'R253', 'R154', 'R237', 'R112', 'R155', 'R156', 'R157', 'R113',
       'R015', 'R017', 'R016', 'R359', 'R140', 'R339', 'R238', 'R267',
       'R298', 'R340', 'R018', 'R218', 'R254', 'R201', 'R202', 'R219',
       'R141', 'R341', 'R158', 'R255', 'R128', 'R114', 'R115', 'R019',
       'R360', 'R239', 'R256', 'R299', 'R316', 'R286', 'R269', 'R287',
       'R317', 'R318', 'R020', 'R021', 'R453', 'R203', 'R461', 'R240',
       'R300', 'R257', 'R301', 'R129', 'R220', 'R270', 'R288', 'R241',
       'R289', 'R204', 'R420', 'R242', 'R421', 'R422', 'R423', 'R424',
       'R130', 'R425', 'R271', 'R426', 'R302', 'R319', 'R259', 'R303',
       'R342', 'R024', 'R025', 'R570', 'R571', 'R572', 'R549', 'R544',
       'R552', 'R551', 'R543', 'R546', 'R550', 'R548', 'R547', 'R545',
       'R542', 'R541', 'R540', 'R304', 'R027', 'R030', 'R343', 'R320',
       'R290', 'R189', 'R105', 'R321', 'R190', 'R272', 'R031', 'R293',
       'R033', 'R116', 'R164', 'R452', 'R166', 'R167', 'R168', 'R191',
       'R192', 'R159', 'R034', 'R169', 'R273', 'R193', 'R260', 'R274',
       'R036', 'R037', 'R038', 'R039', 'R040', 'R306', 'R117', 'R041',
       'R042', 'R043', 'R322', 'R194', 'R160', 'R131', 'R143', 'R176',
       'R045', 'R046', 'R047', 'R048', 'R049', 'R050', 'R177', 'R178',
       'R179', 'R144', 'R180', 'R181', 'R182', 'R132', 'R307', 'R205',
       'R221', 'R243', 'R308', 'R309', 'R244', 'R275', 'R119', 'R161',
       'R183', 'R133', 'R052', 'R323', 'R324', 'R206', 'R207', 'R344',
       'R345', 'R053', 'R405', 'R406', 'R407', 'R408', 'R409', 'R386',
       'R387', 'R388', 'R389', 'R361', 'R362', 'R363', 'R364', 'R365',
       'R366', 'R367', 'R444', 'R145', 'R445', 'R446', 'R447', 'R448',
       'R449', 'R450', 'R146', 'R325', 'R162', 'R120', 'R245', 'R222',
       'R106', 'R326', 'R107', 'R427', 'R428', 'R429', 'R054', 'R276',
       'R134', 'R346', 'R121', 'R090', 'R092', 'R094', 'R095', 'R291',
       'R261', 'R223', 'R327', 'R147', 'R347', 'R096', 'R122', 'R097',
       'R208', 'R310', 'R328', 'R055', 'R072', 'R224', 'R456', 'R225',
       'R056', 'R058', 'R059', 'R060', 'R123', 'R061', 'R124', 'R062',
       'R063', 'R064', 'R065', 'R066', 'R067', 'R068', 'R069', 'R277',
       'R209', 'R451', 'R109', 'R210', 'R135', 'R110', 'R329', 'R430',
       'R226', 'R292', 'R431', 'R070', 'R165', 'R468', 'R469', 'R459'],
      dtype=object)

In [5]:
# the csv with station info plus added the zip codes
station_info = pd.read_csv('station_info_zipcode.csv')
station_info.head(2)

,Unnamed: 0,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Notes,zip_code
0,0,1,1,R01,BMT,Astoria,Astoria-Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034,NaN,Manhattan,0,NaN,11101
1,1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843,Ditmars Blvd,Manhattan,1,NaN,11102

In [6]:
station_info['GTFS Stop ID'].unique()

array(['R01', 'R03', 'R04', 'R05', 'R06', 'R08', 'R11', 'R13', 'R14',
       'R15', 'R16', 'R17', 'R18', 'R19', 'R20', 'R21', 'R22', 'R23',
       'Q01', 'R24', 'R25', 'R26', 'R27', 'R28', 'R29', 'R30', 'R31',
       'R32', 'R33', 'R34', 'R35', 'R36', 'R39', 'R40', 'R41', 'R42',
       'R43', 'R44', 'R45', 'D24', 'D25', 'D26', 'D27', 'D28', 'D29',
       'D30', 'D31', 'D32', 'D33', 'D34', 'D35', 'D37', 'D38', 'D39',
       'D40', 'D41', 'D42', 'D43', 'B12', 'B13', 'B14', 'B15', 'B16',
       'B17', 'B18', 'B19', 'B20', 'B21', 'B22', 'B23', 'N02', 'N03',
       'N04', 'N05', 'N06', 'N07', 'N08', 'N09', 'N10', 'J12', 'J13',
       'J14', 'J15', 'J16', 'J17', 'J19', 'J20', 'J21', 'J22', 'J23',
       'J24', 'J27', 'J28', 'J29', 'J30', 'J31', 'M11', 'M12', 'M13',
       'M14', 'M16', 'M18', 'M19', 'M20', 'M21', 'M22', 'M23', 'M01',
       'M04', 'M05', 'M06', 'M08', 'M09', 'M10', 'L01', 'L02', 'L03',
       'L05', 'L06', 'L08', 'L10', 'L11', 'L12', 'L13', 'L14', 'L15',
       'L16', 'L17', 'L19', 'L20', 'L21', 'L22', 'L24', 'L25', 'L26',
       'L27', 'L28', 'L29', 'S01', 'S03', 'S04', 'A02', 'A03', 'A05',
       'A06', 'A07', 'A09', 'A10', 'A11', 'A12', 'D13', 'A14', 'A15',
       'A16', 'A17', 'A18', 'A19', 'A20', 'A21', 'A22', 'A24', 'A25',
       'A27', 'A28', 'A30', 'A31', 'A32', 'D20', 'A33', 'A34', 'A36',
       'E01', 'A38', 'A40', 'A41', 'A42', 'A43', 'A44', 'A45', 'A46',
       'A47', 'A48', 'A49', 'A50', 'A51', 'A52', 'A53', 'A54', 'A55',
       'A57', 'A59', 'A60', 'A61', 'A63', 'A64', 'A65', 'H01', 'H02',
       'H03', 'H04', 'H12', 'H13', 'H14', 'H15', 'H06', 'H07', 'H08',
       'H09', 'H10', 'H11', 'D01', 'D03', 'D04', 'D05', 'D06', 'D07',
       'D08', 'D09', 'D10', 'D11', 'D12', 'B04', 'B06', 'B08', 'B10',
       'D15', 'D16', 'D17', 'D18', 'D19', 'D21', 'D22', 'F14', 'F15',
       'F16', 'F18', 'F20', 'F21', 'F22', 'F23', 'F24', 'F25', 'F26',
       'F27', 'F29', 'F30', 'F31', 'F32', 'F33', 'F34', 'F35', 'F36',
       'F38', 'F39', 'F01', 'F02', 'F03', 'F04', 'F05', 'F06', 'F07',
       'G08', 'G09', 'G10', 'G11', 'G12', 'G13', 'G14', 'G15', 'G16',
       'G18', 'G19', 'G20', 'G21', 'F09', 'F11', 'F12', 'D14', 'G05',
       'G06', 'G07', 'G22', 'G24', 'G26', 'G28', 'G29', 'G30', 'G31',
       'G32', 'G33', 'G34', 'G35', 'G36', '101', '103', '104', '106',
       '107', '108', '109', '110', '111', '112', '113', '114', '115',
       '116', '117', '118', '119', '120', '121', '122', '123', '124',
       '125', '126', '127', '128', '129', '130', '131', '132', '133',
       '134', '135', '136', '137', '138', '139', '142', '228', '229',
       '230', '231', '232', '233', '234', '235', '236', '237', '238',
       '239', '248', '249', '250', '251', '252', '253', '254', '255',
       '256', '257', '241', '242', '243', '244', '245', '246', '247',
       '601', '602', '603', '604', '606', '607', '608', '609', '610',
       '611', '612', '613', '614', '615', '616', '617', '618', '619',
       '401', '402', '405', '406', '407', '408', '409', '410', '411',
       '412', '413', '414', '415', '416', '621', '622', '623', '624',
       '625', '626', '627', '628', '629', '630', '631', '632', '633',
       '634', '635', '636', '637', '638', '639', '640', '418', '419',
       '420', '423', '201', '204', '205', '206', '207', '208', '209',
       '210', '211', '212', '213', '214', '215', '216', '217', '218',
       '219', '220', '221', '222', '301', '302', '224', '225', '226',
       '227', '501', '502', '503', '504', '505', '701', '702', '705',
       '706', '707', '708', '709', '710', '711', '712', '713', '714',
       '715', '716', '718', 'R09', '719', '720', '721', '723', '724',
       '725', '902', '901', '726', 'Q05', 'Q04', 'Q03', 'S31', 'S30',
       'S29', 'S28', 'S27', 'S26', 'S25', 'S24', 'S23', 'S22', 'S21',
       'S20', 'S19', 'S18', 'S17', 'S16', 'S15', 'S14', 'S13', 'S09',
       'S11'], dtype=object)

In [7]:
mta_2018_df[mta_2018_df['UNIT'] == 'R01']

# R01 does not exist in turnstile data
# checked turnstile data for several other 'GTFS Stop ID' in station info file

# Though the 'GTFS Stop ID' looks similar to turnstile 'remote unit'  
# these are not the same and cannot merge on this field

Empty DataFrame
Columns: [C/A, UNIT, SCP, STATION, LINENAME, DIVISION, DATE, TIME, DESC, ENTRIES, EXITS                                                               ]
Index: []

In [8]:
station_info['Complex ID'].unique()

array([  1,   2,   3,   4,   5,   6, 613,   8,   9,  10, 611, 607,  13,
        14, 602,  16,  17, 623,  20, 624,  22, 635, 620, 636,  26, 617,
        28, 608,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  41,
        42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,
        55,  56,  57,  58,  59,  60,  61,  62, 615,  64,  65,  66,  67,
        68,  69,  70,  71,  72,  74,  75,  76,  77,  78,  79,  80,  81,
        82,  83,  84,  85,  86,  87,  88,  89,  90,  91, 621,  93,  94,
        95,  96,  97,  98,  99, 100, 101, 625, 103, 622, 628, 107, 108,
       109, 110, 111, 630, 113, 114, 618, 601, 118, 119, 120, 629, 122,
       123, 124, 125, 126, 127, 129, 130, 131, 133, 134, 135, 136, 137,
       138, 627, 141, 626, 143, 144, 145, 146, 147, 605, 149, 150, 151,
       152, 153, 154, 155, 156, 157, 158, 159, 160, 614, 162, 164, 165,
       167, 168, 169, 173, 175, 176, 177, 179, 180, 181, 182, 183, 185,
       186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198,
       199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211,
       212, 213, 214, 215, 216, 217, 218, 604, 220, 221, 222, 223, 224,
       225, 609, 228, 619, 231, 232, 234, 235, 236, 237, 238, 240, 241,
       242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254,
       255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 616,
       268, 269, 270, 271, 272, 273, 606, 612, 276, 277, 278, 279, 280,
       282, 283, 284, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295,
       296, 297, 298, 299, 300, 301, 303, 304, 305, 306, 307, 308, 309,
       310, 311, 312, 313, 314, 316, 318, 319, 320, 321, 323, 324, 325,
       326, 327, 328, 329, 333, 334, 336, 337, 339, 340, 341, 343, 344,
       345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357,
       358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370,
       371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383,
       384, 385, 386, 387, 388, 603, 391, 392, 393, 394, 395, 396, 397,
       398, 399, 610, 403, 404, 405, 407, 409, 413, 414, 416, 417, 418,
       419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431,
       432, 433, 434, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445,
       446, 447, 448, 449, 450, 451, 452, 453, 455, 456, 457, 458, 459,
       460, 461, 463, 464, 471, 475, 476, 477, 501, 502, 503, 504, 505,
       506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518,
       519, 522, 523])

In [9]:
station_info['Station ID'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 141, 142, 143, 144,
       145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157,
       158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170,
       171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183,
       184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196,
       197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209,
       210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222,
       223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235,
       236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248,
       249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261,
       262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274,
       275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287,
       288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300,
       301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313,
       314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326,
       327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339,
       340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352,
       353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365,
       366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378,
       379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391,
       392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404,
       405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417,
       418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430,
       431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443,
       444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456,
       457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469,
       471, 475, 476, 477, 501, 502, 503, 504, 505, 506, 507, 508, 509,
       510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 522, 523])

In [10]:
# the lookup csv file from qri page
lookup = pd.read_csv('MTA_RemoteUnit_Complex_Lookup.csv')
lookup.head(2)

  remote booth  complex_id       station line_name division
0   R001  A060       635.0  WHITEHALL ST        R1      BMT
1   R001  A058       635.0  WHITEHALL ST        R1      BMT

In [11]:
# the MTA Remote-Booth-Station.xls

rb_station = pd.read_excel('Remote-Booth-Station.xls')
rb_station.head()

  Remote  Booth       Station Line Name Division
0   R001   A060  WHITEHALL ST        R1      BMT
1   R001   A058  WHITEHALL ST        R1      BMT
2   R001  R101S   SOUTH FERRY        R1      IRT
3   R002   A077     FULTON ST  ACJZ2345      BMT
4   R002   A081     FULTON ST  ACJZ2345      BMT

In [12]:
## add COMPLEX ID to the station info df
merge_rbs = pd.merge(rb_station, lookup, how='left', left_on=['Remote','Booth'], right_on=['remote','booth'])
merge_rbs.head(2)

,Remote,Booth,Station,Line Name,Division,remote,booth,complex_id,station,line_name,division
0,R001,A060,WHITEHALL ST,R1,BMT,R001,A060,635.0,WHITEHALL ST,R1,BMT
1,R001,A058,WHITEHALL ST,R1,BMT,R001,A058,635.0,WHITEHALL ST,R1,BMT

In [13]:
merge_rbs['complex_id'] = merge_rbs['complex_id'].fillna(0)
merge_rbs.head(2)

,Remote,Booth,Station,Line Name,Division,remote,booth,complex_id,station,line_name,division
0,R001,A060,WHITEHALL ST,R1,BMT,R001,A060,635.0,WHITEHALL ST,R1,BMT
1,R001,A058,WHITEHALL ST,R1,BMT,R001,A058,635.0,WHITEHALL ST,R1,BMT

In [14]:
# fix complex_id so it is not a float
merge_rbs['Complex ID'] = merge_rbs['complex_id'].astype(int)

In [15]:
# sample from turnstile data
smp_turnstile_raw = mta_2018_df.sample(25)
smp_turnstile_raw

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
96633,N510,R163,02-06-00,14 ST,FLM123,IND,05/24/2018,20:00:00,REGULAR,7344822,13083860
170545,R409,R449,01-00-01,E 149 ST,6,IRT,05/17/2018,05:00:00,REGULAR,2306109,3038025
13550,B010,R412,00-03-00,BOTANIC GARDEN,S2345,BMT,06/02/2018,21:00:00,REGULAR,5272348,1934077
106348,N604,R342,00-03-00,JAMAICA VAN WK,E,IND,06/07/2018,17:00:00,REGULAR,1196560,519356
109043,N701A,R571,01-00-08,86 ST-2 AVE,Q,IND,05/30/2018,01:00:00,REGULAR,1596460,407039
156705,R248,R178,00-00-01,77 ST,6,IRT,06/03/2018,05:00:00,REGULAR,16543153,2862683
71728,N217,R112,00-03-02,FORDHAM RD,BD,IND,05/26/2018,04:00:00,REGULAR,349535,673983
109308,N700A,R570,01-00-04,72 ST-2 AVE,Q,IND,05/21/2018,05:00:00,REGULAR,703026,691834
137108,R168A,R168,00-02-00,96 ST,123,IRT,06/08/2018,05:00:00,REGULAR,6098312,6940379
154135,R240,R047,00-03-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2018,21:00:00,REGULAR,3421134,9652279
136495,R165,R167,01-00-00,86 ST,1,IRT,05/27/2018,01:00:00,REGULAR,265812,482500
153874,R242A,R049,02-00-00,51 ST,6,IRT,06/07/2018,04:00:00,REGULAR,961641,5802843
195657,R647,R110,02-05-01,FLATBUSH AV-B.C,25,IRT,05/25/2018,09:00:00,REGULAR,88833,308788
189251,R622,R123,00-00-00,FRANKLIN AV,2345S,IRT,05/26/2018,16:00:00,REGULAR,264274821,2062619533
64034,N125,R440,00-00-00,LIBERTY AV,C,IND,05/21/2018,09:00:00,REGULAR,1172357,1334664
53186,N077,R111,02-06-00,23 ST,CE,IND,05/18/2018,04:00:00,REGULAR,1042221,16345428
172652,R417,R222,00-03-03,PARKCHESTER,6,IRT,05/14/2018,13:30:45,REGULAR,4453806,7659669
103987,N553,R422,00-00-02,BAY PKWY,F,IND,05/23/2018,13:00:00,REGULAR,2170919,659783
193424,R645,R110,00-00-01,FLATBUSH AV-B.C,25,IRT,05/29/2018,17:00:00,REGULAR,6903745,6285849
71375,N213,R154,00-06-00,TREMONT AV,BD,IND,06/05/2018,05:00:00,REGULAR,1651616,314019
119657,PTH18,R549,01-00-06,NEWARK BM BW,1,PTH,05/23/2018,17:25:25,REGULAR,363927,15942
83935,N335,R158,01-06-01,KEW GARDENS,EF,IND,05/30/2018,22:30:00,REGULAR,3398486,322108
169289,R336,R145,00-00-02,WAKEFIELD/241,2,IRT,05/17/2018,21:00:00,REGULAR,3016160,3099870
50686,N067,R012,00-05-01,34 ST-PENN STA,ACE,IND,06/05/2018,16:00:00,REGULAR,425752,605083
13553,B010,R412,00-00-00,BOTANIC GARDEN,S2345,BMT,05/15/2018,01:00:00,REGULAR,103458,133366

In [16]:
# join turnstile and lookup file from qri

merge_one = pd.merge(smp_turnstile_raw, merge_rbs, how='left', left_on=['UNIT', 'C/A' ], right_on=['Remote', 'Booth' ])


merge_one

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,...,Station,Line Name,Division,remote,booth,complex_id,station,line_name,division,Complex ID
0,N510,R163,02-06-00,14 ST,FLM123,IND,05/24/2018,20:00:00,REGULAR,7344822,...,14 ST-6 AVE,FLM123,IND,R163,N510,601.0,14 ST-6 AVE,FLM123,IND,601.0
1,R409,R449,01-00-01,E 149 ST,6,IRT,05/17/2018,05:00:00,REGULAR,2306109,...,E 149 ST,6,IRT,R449,R409,373.0,E 149 ST,6,IRT,373.0
2,B010,R412,00-03-00,BOTANIC GARDEN,S2345,BMT,06/02/2018,21:00:00,REGULAR,5272348,...,BOTANIC GARDEN,S2345,BMT,R412,B010,626.0,BOTANIC GARDEN,S2345,BMT,626.0
3,N604,R342,00-03-00,JAMAICA VAN WK,E,IND,06/07/2018,17:00:00,REGULAR,1196560,...,JAMAICA-VAN WYC,E,IND,R342,N604,280.0,JAMAICA-VAN WYC,E,IND,280.0
4,N701A,R571,01-00-08,86 ST-2 AVE,Q,IND,05/30/2018,01:00:00,REGULAR,1596460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R248,R178,00-00-01,77 ST,6,IRT,06/03/2018,05:00:00,REGULAR,16543153,...,77 ST,6,IRT,R178,R248,398.0,77 ST,6,IRT,398.0
6,N217,R112,00-03-02,FORDHAM RD,BD,IND,05/26/2018,04:00:00,REGULAR,349535,...,FORDHAM ROAD,BD,IND,R112,N217,213.0,FORDHAM ROAD,BD,IND,213.0
7,N700A,R570,01-00-04,72 ST-2 AVE,Q,IND,05/21/2018,05:00:00,REGULAR,703026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,R168A,R168,00-02-00,96 ST,123,IRT,06/08/2018,05:00:00,REGULAR,6098312,...,96 ST,123,IRT,R168,R168A,310.0,96 ST,123,IRT,310.0
9,R240,R047,00-03-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2018,21:00:00,REGULAR,3421134,...,42 ST-GRD CNTRL,4567S,IRT,R047,R240,610.0,42 ST-GRD CNTRL,4567S,IRT,610.0
10,R165,R167,01-00-00,86 ST,1,IRT,05/27/2018,01:00:00,REGULAR,265812,...,86 ST,1,IRT,R167,R165,311.0,86 ST,1,IRT,311.0
11,R242A,R049,02-00-00,51 ST,6,IRT,06/07/2018,04:00:00,REGULAR,961641,...,51 ST,6,IRT,R049,R242A,612.0,51 ST,6,IRT,612.0
12,R647,R110,02-05-01,FLATBUSH AV-B.C,25,IRT,05/25/2018,09:00:00,REGULAR,88833,...,FLATBUSH AVE,25,IRT,R110,R647,359.0,FLATBUSH AVE,25,IRT,359.0
13,R622,R123,00-00-00,FRANKLIN AV,2345S,IRT,05/26/2018,16:00:00,REGULAR,264274821,...,FRANKLIN AVE,2345S,IRT,R123,R622,627.0,FRANKLIN AVE,2345S,IRT,627.0
14,N125,R440,00-00-00,LIBERTY AV,C,IND,05/21/2018,09:00:00,REGULAR,1172357,...,LIBERTY AVE,C,IND,R440,N125,185.0,LIBERTY AVE,C,IND,185.0
15,N077,R111,02-06-00,23 ST,CE,IND,05/18/2018,04:00:00,REGULAR,1042221,...,23 ST,CE,IND,R111,N077,165.0,23 ST,CE,IND,165.0
16,R417,R222,00-03-03,PARKCHESTER,6,IRT,05/14/2018,13:30:45,REGULAR,4453806,...,E 177 ST-PARKCH,6,IRT,R222,R417,366.0,E 177 ST-PARKCH,6,IRT,366.0
17,N553,R422,00-00-02,BAY PKWY,F,IND,05/23/2018,13:00:00,REGULAR,2170919,...,22 AVE-BAY PKY,F,IND,R422,N553,247.0,22 AVE-BAY PKY,F,IND,247.0
18,R645,R110,00-00-01,FLATBUSH AV-B.C,25,IRT,05/29/2018,17:00:00,REGULAR,6903745,...,FLATBUSH AVE,25,IRT,R110,R645,359.0,FLATBUSH AVE,25,IRT,359.0
19,N213,R154,00-06-00,TREMONT AV,BD,IND,06/05/2018,05:00:00,REGULAR,1651616,...,TREMONT AVE,BD,IND,R154,N213,215.0,TREMONT AVE,BD,IND,215.0
20,PTH18,R549,01-00-06,NEWARK BM BW,1,PTH,05/23/2018,17:25:25,REGULAR,363927,...,NEWARK BM BW,1,PTH,R549,PTH18,0.0,NEWARK BM BW,1,PTH,0.0
21,N335,R158,01-06-01,KEW GARDENS,EF,IND,05/30/2018,22:30:00,REGULAR,3398486,...,UNION TPK-KEW G,EF,IND,R158,N335,259.0,UNION TPK-KEW G,EF,IND,259.0
22,R336,R145,00-00-02,WAKEFIELD/241,2,IRT,05/17/2018,21:00:00,REGULAR,3016160,...,WAKEFIELD-241,2,IRT,R145,R336,416.0,WAKEFIELD-241,2,IRT,416.0
23,N067,R012,00-05-01,34 ST-PENN STA,ACE,IND,06/05/2018,16:00:00,REGULAR,425752,...,34 ST-PENN STA,ACE,IND,R012,N067,164.0,34 ST-PENN STA,ACE,IND,164.0
24,B010,R412,00-00-00,BOTANIC GARDEN,S2345,BMT,05/15/2018,01:00:00,REGULAR,103458,...,BOTANIC GARDEN,S2345,BMT,R412,B010,626.0,BOTANIC GARDEN,S2345,BMT,626.0

In [17]:
merge_one.isna().sum()

C/A                                                                     0
UNIT                                                                    0
SCP                                                                     0
STATION                                                                 0
LINENAME                                                                0
DIVISION                                                                0
DATE                                                                    0
TIME                                                                    0
DESC                                                                    0
ENTRIES                                                                 0
EXITS                                                                   0
Remote                                                                  2
Booth                                                                   2
Station                                                                 2
Line Name                                                               2
Division                                                                2
remote                                                                  2
booth                                                                   2
complex_id                                                              2
station                                                                 2
line_name                                                               2
division                                                                2
Complex ID                                                              2
dtype: int64

In [18]:

## even with small sample, not every station in turnstile data is in qri lookup

In [19]:
len(merge_one)

25

In [20]:
merge_two = pd.merge(merge_one, station_info, how='left', left_on= 'complex_id', right_on='Complex ID')

merge_two

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,...,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,North Direction Label,South Direction Label,ADA,ADA Notes,zip_code
0,N510,R163,02-06-00,14 ST,FLM123,IND,05/24/2018,20:00:00,REGULAR,7344822,...,M,L,Subway,40.737335,-73.996786,8 Av,Brooklyn,0.0,NaN,10019
1,N510,R163,02-06-00,14 ST,FLM123,IND,05/24/2018,20:00:00,REGULAR,7344822,...,M,F M,Subway,40.738228,-73.996209,Uptown & Queens,Downtown & Brooklyn,0.0,NaN,10011
2,N510,R163,02-06-00,14 ST,FLM123,IND,05/24/2018,20:00:00,REGULAR,7344822,...,M,1 2 3,Subway,40.737826,-74.000201,Uptown & The Bronx,Downtown & Brooklyn,0.0,NaN,10001
3,R409,R449,01-00-01,E 149 ST,6,IRT,05/17/2018,05:00:00,REGULAR,2306109,...,Bx,6,Subway,40.812118,-73.904098,Pelham Bay Park,Manhattan,0.0,NaN,10458
4,B010,R412,00-03-00,BOTANIC GARDEN,S2345,BMT,06/02/2018,21:00:00,REGULAR,5272348,...,Bk,S,Open Cut,40.670343,-73.959245,Franklin Av,Prospect Park,0.0,NaN,11213
5,B010,R412,00-03-00,BOTANIC GARDEN,S2345,BMT,06/02/2018,21:00:00,REGULAR,5272348,...,Bk,2 3 4 5,Subway,40.670682,-73.958131,Manhattan,Flatbush - Utica - New Lots,0.0,NaN,11225
6,N604,R342,00-03-00,JAMAICA VAN WK,E,IND,06/07/2018,17:00:00,REGULAR,1196560,...,Q,E,Subway,40.702566,-73.816859,Jamaica Center,Manhattan,1.0,NaN,11435
7,N701A,R571,01-00-08,86 ST-2 AVE,Q,IND,05/30/2018,01:00:00,REGULAR,1596460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,R248,R178,00-00-01,77 ST,6,IRT,06/03/2018,05:00:00,REGULAR,16543153,...,M,6,Subway,40.773620,-73.959874,Uptown & The Bronx,Downtown,0.0,NaN,10037
9,N217,R112,00-03-02,FORDHAM RD,BD,IND,05/26/2018,04:00:00,REGULAR,349535,...,Bx,B D,Subway,40.861296,-73.897749,Bedford Pk Blvd & 205 St,Manhattan,0.0,NaN,10468
10,N700A,R570,01-00-04,72 ST-2 AVE,Q,IND,05/21/2018,05:00:00,REGULAR,703026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,R168A,R168,00-02-00,96 ST,123,IRT,06/08/2018,05:00:00,REGULAR,6098312,...,M,1 2 3,Subway,40.793919,-73.972323,Uptown & The Bronx,Downtown & Brooklyn,1.0,NaN,10025
12,R240,R047,00-03-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2018,21:00:00,REGULAR,3421134,...,M,4 5 6,Subway,40.751776,-73.976848,Uptown & The Bronx,Downtown & Brooklyn,1.0,NaN,10017
13,R240,R047,00-03-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2018,21:00:00,REGULAR,3421134,...,M,7,Subway,40.751431,-73.976041,Queens,34 St - Hudson Yards,1.0,NaN,10037
14,R240,R047,00-03-04,GRD CNTRL-42 ST,4567S,IRT,05/25/2018,21:00:00,REGULAR,3421134,...,M,S,Subway,40.752769,-73.979189,Times Sq,NaN,1.0,NaN,10017
15,R165,R167,01-00-00,86 ST,1,IRT,05/27/2018,01:00:00,REGULAR,265812,...,M,1,Subway,40.788644,-73.976218,Uptown & The Bronx,Downtown,0.0,NaN,10024
16,R242A,R049,02-00-00,51 ST,6,IRT,06/07/2018,04:00:00,REGULAR,961641,...,M,E M,Subway,40.757552,-73.969055,Queens,Downtown & Brooklyn,1.0,NaN,10022
17,R242A,R049,02-00-00,51 ST,6,IRT,06/07/2018,04:00:00,REGULAR,961641,...,M,6,Subway,40.757107,-73.971920,Uptown & The Bronx,Downtown,1.0,NaN,10037
18,R647,R110,02-05-01,FLATBUSH AV-B.C,25,IRT,05/25/2018,09:00:00,REGULAR,88833,...,Bk,2 5,Subway,40.632836,-73.947642,Manhattan,NaN,1.0,NaN,11234
19,R622,R123,00-00-00,FRANKLIN AV,2345S,IRT,05/26/2018,16:00:00,REGULAR,264274821,...,Bk,S,Elevated,40.680596,-73.955827,NaN,Prospect Park,1.0,NaN,11216
20,R622,R123,00-00-00,FRANKLIN AV,2345S,IRT,05/26/2018,16:00:00,REGULAR,264274821,...,Bk,C,Subway,40.681380,-73.956848,Manhattan,Euclid Av,1.0,NaN,11238
21,N125,R440,00-00-00,LIBERTY AV,C,IND,05/21/2018,09:00:00,REGULAR,1172357,...,Bk,C,Subway,40.674542,-73.896548,Manhattan,Euclid Av,0.0,NaN,11207
22,N077,R111,02-06-00,23 ST,CE,IND,05/18/2018,04:00:00,REGULAR,1042221,...,M,C E,Subway,40.745906,-73.998041,Uptown - Queens,Downtown & Brooklyn,0.0,NaN,10011
23,R417,R222,00-03-03,PARKCHESTER,6,IRT,05/14/2018,13:30:45,REGULAR,4453806,...,Bx,6,Elevated,40.833226,-73.860816,Pelham Bay Park,Manhattan,0.0,NaN,10472
24,N553,R422,00-00-02,BAY PKWY,F,IND,05/23/2018,13:00:00,REGULAR,2170919,...,Bk,F,Elevated,40.620769,-73.975264,Manhattan,Coney Island,0.0,NaN,11223
25,R645,R110,00-00-01,FLATBUSH AV-B.C,25,IRT,05/29/2018,17:00:00,REGULAR,6903745,...,Bk,2 5,Subway,40.632836,-73.947642,Manhattan,NaN,1.0,NaN,11234
26,N213,R154,00-06-00,TREMONT AV,BD,IND,06/05/2018,05:00:00,REGULAR,1651616,...,Bx,B D,Subway,40.850410,-73.905227,Bedford Pk Blvd & 205 St,Manhattan,0.0,NaN,10457-2919
27,PTH18,R549,01-00-06,NEWARK BM BW,1,PTH,05/23/2018,17:25:25,REGULAR,363927,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,N335,R158,01-06-01,KEW GARDENS,EF,IND,05/30/2018,22:30:00,REGULAR,3398486,...,Q,E F,Subway,40.714441,-73.831008,Jamaica,Manhattan,1.0,NaN,11415
29,R336,R145,00-00-02,WAKEFIELD/241,2,IRT,05/17/2018,21:00:00,REGULAR,3016160,...,Bx,2,Elevated,40.903125,-73.850620,NaN,Manhattan,0.0,NaN,10470
30,N067,R012,00-05-01,34 ST-PENN STA,ACE,IND,06/05/2018,16:00:00,REGULAR,425752,...,M,A C E,Subway,40.752287,-73.993391,Uptown - Queens,Downtown & Brooklyn,1.0,NaN,10001
31,B010,R412,00-00-00,BOTANIC GARDEN,S2345,BMT,05/15/2018,01:00:00,REGULAR,103458,...,Bk,S,Open Cut,40.670343,-73.959245,Franklin Av,Prospect Park,0.0,NaN,11213
32,B010,R412,00-00-00,BOTANIC GARDEN,S2345,BMT,05/15/2018,01:00:00,REGULAR,103458,...,Bk,2 3 4 5,Subway,40.670682,-73.958131,Manhattan,Flatbush - Utica - New Lots,0.0,NaN,11225

In [21]:
len(merge_two)

33

In [22]:
merge_two.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               ',
       'Remote', 'Booth', 'Station', 'Line Name', 'Division_x', 'remote',
       'booth', 'complex_id', 'station', 'line_name', 'division',
       'Complex ID_x', 'Unnamed: 0', 'Station ID', 'Complex ID_y',
       'GTFS Stop ID', 'Division_y', 'Line', 'Stop Name', 'Borough',
       'Daytime Routes', 'Structure', 'GTFS Latitude', 'GTFS Longitude',
       'North Direction Label', 'South Direction Label', 'ADA', 'ADA Notes',
       'zip_code'],
      dtype='object')

In [23]:
merge_two['Complex ID_x'].value_counts()

626.0    4
601.0    3
610.0    3
627.0    2
612.0    2
359.0    2
366.0    1
165.0    1
185.0    1
247.0    1
416.0    1
215.0    1
311.0    1
0.0      1
310.0    1
213.0    1
398.0    1
280.0    1
259.0    1
373.0    1
164.0    1
Name: Complex ID_x, dtype: int64

In [24]:
# the merge increased the number of rows from 25 to 33 b/c complex ID is not unique to a station
# a station complex is two or more subway stations